// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;





#backdrop {
  background: linear-gradient(112.17deg, rgba(204, 255, 0, 0.5) 8.51%, rgba(255, 255, 255, 0.018) 49.89%, rgba(0, 133, 255, 0.5) 95.93%);
}
