<div class="flex-container">
  <div class="flex-items">
    <%= render "shared/navbar2" %>
  </div>
  <div class="flex-items">
    <div class="flex-container-sec">
      <div class="flex-items-sec">
        <%# MAIN CONTENT GOES HERE / WITH CSSGRID %>

        <div class="dash-container">
          <div class="section-title">
            <h1>Growth Dashboard</h1>
            <%= link_to "Logout", destroy_user_session_path, data: { turbo_method: :delete } %>
          </div>
          <div class="main-banner"></div>
          <div class="proposal-box"></div>
          <div class="project-box"></div>
          <div class="calendar-box"></div>
        </div>

      </div>
      <div class="flex-items-sec">
        <%# RIGHT SIDE BAR %>
        <h1>Right side content</h1>
      </div>
    </div>
  </div>
</div>
