<div class="row justify-content-center vh-100" id="backdrop">

  <div class="project-form-container">

    <%# TITLE FOR THE FORM WITH ESCAPE BUTTON / REMAIN STATIC DURING FORM %>
    <div class="d-flex flex-row align-items-center justify-content-between p-3 mt-3 mb-5 border-bottom">
      <div>
        <h2>Launch a new project (RFP)</h2>
      </div>
      <div>
        <%# To replace with cool icon %>
        <%= link_to root_path do%>
          <i class="fa-regular fa-circle-xmark" style="font-size:24px; color: grey"></i>
        <% end %>
      </div>
    </div>

    <%# BELOW IS 6 SECTION TO NAVIGATE AND DISPLAY THE CORRECT FORM PARTIAL %>
    <div data-controller='projectformflow' >

      <%# 1) MAIN CHOICE OF SERVICE %>
      <div data-projectformflow-target="step0" class="d-flex flex-column justify-content-between align-items-left">
        <h4>What type of expansion service are you looking for?</h4>
        <p>It seems like you do not have any ongoing project yet. Create a RFP now, so you can receive business offers from our Experts.</p>


        <div class="dash-card mega-form-card w-100" data-projectformflow-target="option1" data-action="click->projectformflow#select1">
          <div class="d-flex flex-row">
            <div><%= image_tag("studies", size: "100", class: "m-2" ) %></div>
            <div class="p-2">
              <h6>Market entry studies</h6>
              <p>It seems like you do not have any ongoing project yet. Create a RFP now, so you can receive business offers from our Experts.</p>
            </div>
          </div>
        </div>


        <div class="dash-card mega-form-card w-100" data-projectformflow-target="option2" data-action="click->projectformflow#select2">
          <div class="d-flex flex-row">
            <div><%= image_tag("b2bintros", size: "100", class: "m-2" ) %></div>
            <div class="p-2">
              <h6>B2B Introductions</h6>
              <p>It seems like you do not have any ongoing project yet. Create a RFP now, so you can receive business offers from our Experts.</p>
            </div>
          </div>
        </div>

        <div class="dash-card mega-form-card w-100" data-projectformflow-target="option3" data-action="click->projectformflow#select3">
          <div class="d-flex flex-row">
            <div><%= image_tag("leadgeneration", size: "100", class: "m-2" ) %></div>
            <div class="p-2">
              <h6>Lead Generation</h6>
              <p>It seems like you do not have any ongoing project yet. Create a RFP now, so you can receive business offers from our Experts.</p>
            </div>
          </div>
        </div>

        <div data-projectformflow-target="continue1" data-action="click->projectformflow#to_level2", class="d-none btn btn-primary my-3 w-25"  style="width:100%">Continue</div>

      </div>

      <%# 1) STUDY %>
      <div data-projectformflow-target="step1" class="d-none d-flex flex-column justify-content-between align-items-center">
        <h6>Study Form here</h6>
      </div>

      <%# 2) B2B INTRODUCTION CHOICE %>
      <div data-projectformflow-target="step2" class="d-none d-flex flex-column justify-content-center align-items-center">
        <h6>B2B Intro Selector Here</h6>
      </div>

      <%# 2A) B2B INTRODUCTION SINGLE %>
      <div data-projectformflow-target="step2-a" class="d-none d-flex flex-column justify-content-center align-items-center">
        <h6>B2B Single Form here</h6>
      </div>

      <%# 2B) B2B INTRODUCTION MULTI %>
      <div data-projectformflow-target="step2-b" class="d-none d-flex flex-column justify-content-around align-items-center text-center">
        <h6>B2B Multi Form here</h6>
      </div>

      <%# 3) LEAD GENERATION %>
      <div data-projectformflow-target="step3" class="d-none d-flex flex-column justify-content-around align-items-center text-center">
        <h6>Lead Generation Form here</h6>
      </div>

    </div>
  </div>
</div>
